html, body{
  background-color: #c9d6ff;
  background: linear-gradient(to right, #e2e2e2, #c9d6ff);
  @media screen and (max-width: 414.98px){
    width: 505px;
  }

  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
  }
  
  .container {
    margin: 0 auto;
    max-width: 1140px;
  }



