// FOOTER
footer{
    background-color: black;
    height: 330px;
    .footer_content{
        .footer_body{
            padding-top: 35px;
            .footer_left{
                .footer_find{
                    ul{
                        li{
                            list-style: none;
                            line-height: 35px;
                            a{
                                @include styleText($fs_3,$fw_bold,$color_white);
                                text-decoration: none;
                                
                            }
                        }
                    }
                }
                .footer_help, .footer_about{
                    ul{
                        li{
                            list-style: none;
                            line-height: 35px;

                            a{
                                
                                @include styleText($fs_3,$fw_400,$color_gray);
                                text-decoration: none;
                                &:hover{
                                    color: $color_white;
                                }
                            }
                            a.onTop{
                                @include styleText($fs_3,$fw_bold,$color_white );
                            }
                        }
                    }
                }
            }
            .footer_right{
                .footer_social{
                    .footer_icon_social{
                        margin: 0 10px;;
                        background-color: #9d9daa66;
                        height: 30px;
                        line-height: 30px;
                        width: 30px;
                        text-align: center;
                        border-radius: 50%;
                        a{
                            text-decoration: none;
                            color: $color_white;
                            i{}
                        }
                    }
                }
                .footer_transfer{
                    .transfer_card{
                        padding: 20px 5px;
                        img{
                            height: 30px;
                            width: 50px;
                        }
                    }
                }
            }
        }
        .footer_coppy{
            padding-top: 25px;
            .coppy_left{
                p{
                    @include styleText($fs_2,
                    $fw_500,
                    $color_gray);
                }
            }
            .coppy_right{
                ul{
                    display: flex;
                    li{
                        list-style: none;
                        padding: 0 10px;
                        a{
                            text-decoration: none;
                            @include styleText($fs_2,
                            $fw_500,
                            $color_gray);
                            &:hover{
                                color: $color_white;
                            }
                        }
                    }
                }
            }
        }
    }
}