// PRODUCTS
.product__list {
    padding: 50px 0 60px 0;
    .products {
      border-top: 1px solid #cecece;
      .row {
        margin-right: -15px;
        margin-left: -15px;
        .col-lg-3 {
          padding-right: 15px;
          width: 20%;
          .product__menu {
            .product__title {
              border-left: 3px solid #000;
              padding: 10px;
              h2 {
                @include styleText($fs_5,$fw_bold,$color_black_blur);
                text-align: center;
                text-transform: uppercase;
                strong {
                  color: #9d9d9d;
                  display: block;
                  font-size: $fs_6  ;
                }
              }
            }
            .menu__slide {
              ul {
                li {
                  background: #333;
                  border-bottom: 1px solid #666666;
                  text-align: center;
                  width: 100%;
                  border-radius: 0;
                  button {
                    width: 100%;
                    color: #ffff;
                    display: block;
                    padding: 18px 10px;
                    font-weight: 700;
                    font-size: $fs_1;
                  }
                  button.active {
                    background: #666666;
                  }
                  img {
                    max-width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
        .col-lg-9 {
          padding-left: 15px;
          width: 80%;
          .row {
            margin-right: -15px;
            margin-left: -15px;
            .tab-content{
                padding-left:0 !important;
                padding-right: 0 !important;
              .tab-pane {
                .show_product{
                    .product_card {
                        width: 31.5%;
                        height: 500px;
                        position: relative;
                        .card{
                          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                      
                            .card-sale{
                                background-color: #5eb4c1;
                                position: absolute;
                                top: 3%;
                                right: 5%;
                                height: 30px;
                                line-height: 30px;
                                width: 70px;
                                text-align: center;
                                p{
                                   @include styleText($fs_4,$fw_300,$color_white) ;
                                }
                            }
                            .card-body{
                                .card-title{
                                    a{
                                        text-decoration: none;
                                        
                                        h5{
                                            @include styleText($fs_4,$fw_300,$color_black_blur);
                                            transition: all 0.3s;
                                            &:hover{
                                                @include styleText($fs_4,$fw_300,$color_red)
                                            }
                                        }
                                    }
                                    
                                }
                                .card-price-rate{
                                    padding: 15px 0px 30px 0px;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    .info_prices {
                                        .card-text{
                                            span:first-child{
                                                @include styleText($fs_3,$fw_300,$color_black_blur);
                                                text-decoration: line-through;
                                            }
                                            span:last-child{
                                                @include styleText($fs_5,$fw_bold,$color_black_blur);
                                            }
                                        }
                                    }
                                    .info_stars{
                                        i{
                                            color: #ffc107;
                                        }
                                    }
                                }
                                .view-action{
                                    border-top: 1px solid $color_gray;
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding-top: 30px;
                                    .view{
                                        a{
                                            text-decoration: none;
                                            @include styleText($fs_4,$fw_300,$color_black);
                                            

                                        }
                                        span{
                                            transition: all 0.3s;
                                            &:hover{
                                                @include styleText($fs_4,$fw_300,$color_red);
                                            }
                                        }
                                    }
                                    .action{
                                        a{
                                            text-decoration: none;
                                            padding-left: 5px;
                                            i{
                                                color: $color_black_blur;
                                                transition: all 0.3s;
                                                &:hover{
                                                    color: $color_red;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
              }
            }
          }
        }
      }
    }
  }
